<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nil.ed.chatroom.mapper.RoomMapper">
    <insert id="addRoom">
        insert into `room`(`id`, `name`, `description`, `update_time`, `create_time`)
        values(NULL, #{room.name}, #{room.description}, #{room.update_time}, #{room.create_time})
    </insert>
</mapper>